{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}


<div class="about_maindiv">
    <div class="about_content_div">
    <p class="about_content">Prabhav Benara is a wildlife enthuias and nature Traveller since 5 years .He has travelled many wildlife sanctuary including kanha, bandhavgarh, dikala, 
    Jim corbet, kabini, nagarholae, ramthambore andy, bharatpur And many more. Travelling and wildlife enthusiasm has made him see world in different way ,
    Each journey has counted his collection of beautiful pictures of nature,He has captured 300 species of birds around India and many endangered species of 
    animals in India including Tigers,leapords ,Malabar squirrel,and many, He has exceptionally found one of the rarest bird who breeds in Himalaya,,yellow 
    rumped wabler in Jaipur Rajasthan,which is a sole record by Prabhav 
    in Jaipur He is currently exploring jhalana leapords safari on regular basis to learn more about leapords behavior and their 
    increase in number relating to the forest which is shrinking day by day He has excellent captured images of leapords in natural environment, 
    Besides wildlife photography he is doing his studies in biology to look more closely to nature. His many photos has got place in prestigious Indian wild life magazine,
     see the link below,</p>
    </div>
    <div>
    <img src="{% static 'images/photographer.png' %}"/>
    </div>
    <div class="about_content_div">
    <p class="about_content">To contact me post me on my gmail below. For Colaborations, Business Enquiries, Photowalks or other inquiery on followed work mail.</p>
    </div>

</div>


{% endblock %}