{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}


<div id="album_container">
    
    
        {% for album in albums %}

      
            <div class="album_card">
                <a href="{% url 'album' album.slug %}">
                    <img href="{% url 'album' album.slug %}" src="{{ album.thumb.url }}" alt="{{ album.title }}" class="album_image"/>
                </a>
                <div class="card_content">{{ album.title }}</div>
                
            
        </div>

        {% endfor %}

  
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>
<div class="social_div">
    <div class="social_icon_div">
<div><a href="https://www.facebook.com/anand.kasaudhan" target="new"><img src="{% static 'images/fbicon.png'%}" class="icon_image"/></a></div>
<div><a href="https://www.instagram.com/anandkassu/" target="new"><img src="{% static 'images/igicon.png'%}" class="icon_image"/></a></div>
<div><a href="https://www.linkedin.com/in/anand-kasaudhan-300158184/" target="new"><img src="{% static 'images/inicon.png'%}" class="icon_image" style="margin-right: 0"/></a></div>
</div>
<div class="email_div"><a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRqjCJVMRVmnFTQZSmjQhzgXxNZcrgLLfLHRSwtFvsfqRvLfVJslWchMXrRKTTgzsfDRfZL" target="new"><p class="email">prabhavbenara@gmail.com</p></a> </div>
</div>


{% endblock %}
