{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}


<div id="album_container">
    
    
        {% for album in albums %}

      
            <div class="album_card">
                <a href="{% url 'album' album.slug %}">
                    <img href="{% url 'album' album.slug %}" src="{{ album.thumb.url }}" alt="{{ album.title }}" class="album_image"/>
                </a>
                <div class="card_content">{{ album.title }}</div>
                
            
        </div>

        {% endfor %}

  
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
