<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <!-- <a href="gallery">kassu</a> -->
    <div class="nav">
        <div>
            <p>KASSU</p>
        </div>
        <div class="header">
            <div class="header_content"><p>about</p></div>
            <div><p>album</p></div>
            <div><p>contact</p></div>

        </div>

    </div>
</body>

</html>