<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">{% load staticfiles %}{% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" />
    <title>home</title>

</head>
<body>
        <!-- <a href="home" style="position: absolute;top:50%;right:0" class="next">&#10095;</a> -->
        <div style="width:100vw; height:100vh">
            <div class="nav">
                <div class="menu">
                    <!-- <div class="menu_content" ><a href="/home" >HOME</a></div> -->
                    <div class="menu_content"><a href="gallery">ALBUM</a></div>
                    <div class="menu_content"><a href="#">ABOUT</a></div>
                    <div class="menu_content"><a href="#">BLOG</a></div>
                    <div class="menu_content"><a href="#">CONTACT</a></div>
                </div>
            </div>
        
            <div class="mobile_nav" onclick="sidebar()">
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
            </div>
            <div id="sidebar"> 
                <div id="cancle" onclick="close()">X</div>
                <div class="sidebarContent">
                <div class="sidebar_content">HOME</div>
                <div class="sidebar_content">ALBUM</div>
                <div class="sidebar_content">ABOUT</div>
                <div class="sidebar_content">BLOG</div>
                <div class="sidebar_content">CONTACT</div>
                </div>
        
            </div>
           

            <div class="scrollmenu" style="width: 90%;height: 85vh; margin-left:5%;">
                   
                    <div style="display: flex; flex-direction:row;width: 90vw;height:100%;justify-content: space-around; align-items: center">    
                          <div>
                                <img src="../../media/albums/animal-photography-animals-blurred-background-1431465.jpg"   max-height="600px"/>
                            </div>
                            <div style="width: 260px;">
                                <h1 style="color: white;
                                opacity: 0.5;
                                font-size: 20px;
                                font-style: oblique;">“A great photograph is one that fully expresses what one feels, in the deepest sense, about what is being photographed.”
― Ansel Adams</h1>
                            </div>
                            <a class="next" href="home" style="position:absolute;right:5%; top:51.5%">&#10095;</a>
                        </div>
                        
                  
                </div> 
        </div>
            
       
</body>
</html>
<script>
        function sidebar(){
            document.getElementById("sidebar").style.transform='translate(0)';
        };
        function close(){
            document.getElementById("sidebar").style.transform= "translate(-100%)";
        };
        
        
    </script>
    