<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <div class="nav">
        
        <div class="menu">
            <!-- <div class="menu_content" ><a href="/home" >HOME</a></div> -->
            <div class="menu_content" ><a href="gallery">ALBUM</a></div>
            <div class="menu_content" ><a href="#">ABOUT</a></div>
            <div class="menu_content" ><a href="#">BLOG</a></div>
            <div class="menu_content" ><a href="#">CONTACT</a></div>
        </div>
    </div>

    <div class="mobile_nav" onclick="sidebar()">
        <div class="bar1"></div>
        <div class="bar1"></div>
        <div class="bar1"></div>
    </div>
    <div id="sidebar"> 
        <div id="cancle" onclick="close()">X</div>
        <div class="sidebarContent">
        <div class="sidebar_content">HOME</div>
        <div class="sidebar_content">ALBUM</div>
        <div class="sidebar_content">ABOUT</div>
        <div class="sidebar_content">BLOG</div>
        <div class="sidebar_content">CONTACT</div>
        </div>

    </div>





    

    {% block content %}{% endblock %}



    

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>

<script>
    function sidebar(){
        document.getElementById("sidebar").style.transform='translate(0)';
    };
    function close(){
        document.getElementById("sidebar").style.transform= "translate(-100%)";
    };
    
    
</script>