<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <div class="nav">
            <div class="photographer"><a href="/"><h3>PRABHAV BENARA</h3></a></div>
        <div class="menu">
            <div class="menu_content" ><a href="/home" >home</a></div>
            <div class="menu_content" ><a href="gallery">album</a></div>
            <div class="menu_content" ><a href="#">about</a></div>
            <!-- <div class="menu_content" ><a href="#">BLOG</a></div>
            <div class="menu_content" ><a href="#">CONTACT</a></div> -->
        </div>
    </div>

    <div id="container">
        <div id="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div id="lgMenu">
          <span id="exit">&times;</span>
            <ul>
              <a href="home"><li>home</li></a>
              <a href="gallery"><li>album</li></a>
              <li>about</li>
            </ul>
        </div>
    </div>

 



    

    {% block content %}{% endblock %}



    

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>
   $(document).ready(function(){
$("#menu").on("click", function(){
   $("#menu").css("opacity", "0");
    $("#lgMenu").addClass("enter");
});
    $("#exit").on("click", function(){
       $("#lgMenu").removeClass("enter");
        $("#menu").css("opacity", "1");
    });
});
    
    
</script>