<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="main">
                
                <div id="slides">
                  <div class="toggle">
                    <img src="../../media//albums/callie-gibson-IT2S-W8-Tu8-unsplash_cvD9GnR.jpg" />
                  </div>
                  <div class="toggle">
                    <img src="../../media/albums/alexander-krivitskiy-8gGUMSQQz0E-unsplash_tZ0oFcC.jpg" />
                  </div>
                  <div class="toggle">
                    <img src="../../media/albums/ben-breitenstein-phaQLQY8o_4-unsplash_M3vJrNy.jpg" />
                  </div>
                  <div>
                    <button id="previous">&elsdot; Previous</button>
                    <button id="next">Next &egsdot;</button>
                  </div>
                </div>
              </div>
      
    
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script>
    //Waiting for images to be loaded 
$(window).on("load", function() {
  $('#loading').slideUp();
  $('#slides').fadeIn('slow');
  //Prevent having no "active" slide
  var $el = $('.toggle.active');
  if (!$el.length) {
    $('.toggle').first().addClass('active');
  }
});

$('#previous').click(function() {
  var $el = $('.active').prev('.toggle');
  if (!$el.length) //If no previous, s$elect last
  {
    $el = $('.toggle').last();;
  }
  $('.active').removeClass('active');
  $el.addClass('active');
});

$('#next').click(function() {
  var $el = $('.active').next('.toggle');
  if (!$el.length) //If no next, s$elect first
  {
    $el = $('.toggle').first();
  }
  $('.active').removeClass('active');
  $el.addClass('active');
});
</script>
<style>

#main {
  width: 640px;
  margin: 10px auto;
  font-family: 'Coda', cursive;
}

p{ text-align: center; }

#loading img {
  display: block;
  margin: 10px auto;
}

#slides {
  display: none;
}
x
.toggle {
  display: none;
}

.active {
  display: block;
  animation: fadein ease-in 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button:hover {
  cursor: pointer;
  background: #333;
  color: #fff;
}</style>