{% extends "layout.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}"> 
    <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}"> 
   
    
{% endblock %}

{% block content %}


    {% if album.is_visible %}

        







            <header class="header">
                <h1>{{ album.title }}</h1>
            </header>
            <p style="text-align: initialse">{{ album.description }}</p>
            
                

                
                    <div class="row" style="">
                        {% for item in images %}
                    <div style="position: relative" class="image_card">    
                        <a href="javascript:pswpInit({{ forloop.counter0 }});">
                            <img src="{{ item.thumb.url }}"  alt="{{ item.alt }}" class="images" />
                        </a>
                        <!-- <div class="overlay">
                            <div>{{item.caption}}</div>
                        </div> -->
                    </div>
                        {% endfor %}
                    </div>
            <div class="social_div">
                <div class="social_icon_div">
            <div><a href="https://www.facebook.com/anand.kasaudhan" target="new"><img src="{% static 'images/fbicon.png'%}" class="icon_image"/></a></div>
            <div><a href="https://www.instagram.com/anandkassu/" target="new"><img src="{% static 'images/igicon.png'%}" class="icon_image"/></a></div>
            <div><a href="https://www.linkedin.com/in/anand-kasaudhan-300158184/" target="new"><img src="{% static 'images/inicon.png'%}" class="icon_image" style="margin-right: 0"/></a></div>
            </div>
        <div class="email_div"><a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRqjCJVMRVmnFTQZSmjQhzgXxNZcrgLLfLHRSwtFvsfqRvLfVJslWchMXrRKTTgzsfDRfZL" target="new"><p class="email">prabhavbenara@gmail.com</p></a> </div>
        </div>
            
            

          
            <!-- <footer class="date">
                Created on <time datetime="{{ album.created|date:"Y-m-d" }}">{{ album.created|date:"d M Y" }}</time>
                <h6>Tags: {{ album.tags }}</h6>
            </footer> -->
            
            
      

        <!-- PhotoSwipe -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe. 
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides. 
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>
    {% else %}
                   


                    <div class="slideshow-container" style="height: 85vh">

                        {% for item in images %}
                        <div class="mySlides fade" style="height: 100%">
                          
                          <div style="display: flex; flex-direction:row ;justify-content: space-around; align-items: center;height: 100%;">    
                                <div>
                                      <img src="{{ item.thumb.url }}"  alt="{{ item.alt }}" height="600px"/>
                                  </div>
                                  <div style="width: 260px;">
                                      <h2 style="color: white;
                                      opacity: 0.5;
                                      font-size: 20px;
                                      font-style: oblique;">{{item.caption}}</h2>
                                  </div>
                              </div>
                        </div>
                        {% endfor %}
                        
                        
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        
                        </div>
                        <br>
                        
                        <!-- <div style="text-align:center; display:flex;justify-content: center; ">
                          <span class="dot" onclick="currentSlide(1)"></span> 
                          <span class="dot" onclick="currentSlide(2)"></span> 
                          <span class="dot" onclick="currentSlide(3)"></span> 
                          <span class="dot" onclick="currentSlide(4)"></span> 
                          <span class="dot" onclick="currentSlide(5)"></span> 
                        </div>
                         -->
   

   
   
                   



       
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        // build the json album images collection 
        window.djangoAlbumImages = [
            {% for item in images %}
                {
                    src: '{{ item.image.url }}',
                    w:  {{ item.width }},
                    h:  {{ item.height }}
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'external/photoswipe/photoswipe.min.js' %}"></script> 
    <script src="{% static 'external/photoswipe/photoswipe-ui-default.min.js' %}"></script>

   {%endblock %}

   
        