.nav{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.header{
    display: flex;
    width: 65vh;
    flex-direction: row;
    justify-content: space-around;
    
}
