/* Custom fonts */
@font-face {
  font-family: Ubuntu;
  src: local("Ubuntu"),
       local("Ubuntu-Regular"),
       url(Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Italic;
  src: local("Ubuntu-Italic"),
       url(Ubuntu-Italic.ttf);
}
.nav{
    /* background-color:black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon_image{
    width: 60px;
    margin-right: 25px;
}
.social_div, .menu{
    display: flex;
    width: fit-content;
    align-items: center;
}
.menu_content{
    padding-right: 25px;
    border-right: 1px solid blue;
    padding-left: 25px;
}
.menu_content_contact{
    padding-right: 25px;
    padding-left: 25px;
}
.container{
    width: 90%;
    margin: 0;
    max-width: 100vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 65px;
}
/* .row{
    margin-left: 5%;
    margin-right: 5%;
} */

.dpg-album-card-image {
    width:300px;
    height:225px;
}

.dpg-album-card, .dpg-album-image {
    max-width:300px;
}
@media screen and (max-width:768px){
    .menu{
        display: none;
    }
}